replicaCount: 3

image:
  repository: kv-node
  tag: "0.1.0"
  pullPolicy: IfNotPresent

service:
  port: 8080

env:
  port: 8080
  headlessServiceName: kv-headless

persistence:
  enabled: true
  size: 1Gi
  storageClassName: ""
  db:
    path: /var/lib/kv/rocksdb
  volume:
    path: /var/lib/kv

resources: {}
# resources:
#   requests:
#     cpu: "100m"
#     memory: "128Mi"
#   limits:
#     cpu: "500m"
#     memory: "512Mi"